.product-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
  }
  
  .product {
    width: 75%;
    /* height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  .product-card{
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 48px;
    flex-wrap: wrap;
  }
  