*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html,body{
  width: 100%;
  height: 100%;
}
.top-nav{
  position: sticky;
  z-index: 1000;
  top: 0;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #270858;
  padding: 10px;
  color: white;
  height: 60px;
  
}
.brand{
  font-weight: bolder;
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.search-bar{
  
  width: 60%;
}
.search-bar input{
  width: 55%;
  /* text-align: center; */
}
.search-bar input::placeholder{
  padding: 10px;
  font-weight: bold;
}
.cart{
  width: 20%;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}
.nav-bar-wrapper{
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: #4b1b78;
  color: white;
  font-weight: bold;
}
.items{
  cursor: pointer;
}